<%- layout('./layout/boilerplate.ejs') %>
<div class="row align-items-center justify-content-center">
  <div class="col-10 col-sm-8 col-md-6 col-lg-4 pt-5">
    <div class="card authorization p-3 pt-4">
      <h1 class="mb-4 card-title text-center">Register</h1>
      <div class="card-body">
        <form action="/user/register" method="post">
          <div class="mb-3">
            <label class="form-label" for="username">Username:</label>
            <input
              class="form-control"
              id="username"
              type="text"
              name="username"
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" type="text" name="password" />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email:</label>
            <input class="form-control" type="text" name="email" />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <button type="submit" class="btn btn-success mt-1">
            Register and log in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
